/* Additional CSS for cpcontent */

.cpcontent {
    width: 450px;
    height: 300px;
    border: 1px solid silver;
    left: 19%;
    top: 27%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #f9f9f9; /* Background color for cpcontent */
    padding: 20px; /* Add padding to cpcontent */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to cpcontent */
}

.cpcontent h3 {
    text-align: center;
    margin-bottom: 20px; /* Add margin below h3 */
}

.button {
    height: 30px;
    color: white;
    background: dodgerblue;
    cursor: pointer;
    border: none;
    width: 100%; /* Make the button full width */
    margin-top: 20px; /* Add margin on top of the button */
}

.button:hover {
    background: blue;
}